*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Manrope', sans-serif;
}

body {
	background-color: #f1f1f1;
	overflow: hidden;
}

.container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	min-height: 100vh;
	padding: 0 20px;
	animation: slideInUp 0.4s ease-in;
}

@keyframes slideInUp {
	from{transform: translateY(10em);}
	to{transform: translateY(0em);}
}

.block {
	max-width: 720px;
	background-color: #fff;
	padding: 24px 12px;
	border-radius: 20px 20px 0px 0px;
}

.search{
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 0px 24px 12px;
	height: auto;
	max-height: 500px;
	overflow-y: auto;
}

.search::-webkit-scrollbar {
	width: 5px; /* Set the width of the scrollbar */
    background-color: #F5F5F5; /* Set the background color of the scrollbar */
    border-radius: 100px;
}

.search::-webkit-scrollbar-thumb {
	background-color: #ddd;
	border-radius: 100px;
}

.search__header .search__header__title {
	font-size: 20px;
	font-weight: 500;
}

.search__header .search__header__desc {
	font-size: 14px;
	font-weight: 400;
	margin-top: 12px;
}

.search__form {
	display: flex;
	flex-direction: row;
	gap: 12px;
	position: sticky;
	top: 0;
	z-index: 999;
	background-color: #fff;
	padding: 12px 0px;
}

.search__form input {
	width: 100%;
	padding: 12px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.2px;
	border-radius: 8px;
	border: 1px solid #eee;
	outline: none;
	transition: all 0.2s linear;
}

.search__form input:focus {
	outline: 1.5px solid #ddd;
}

.search__form button {
	font-size: 14px;
	font-weight: 600;
	padding: 12px 24px;
	border-radius: 8px;
	border: none;
	background-color: #eee;
	transition: all 0.2s ease-in-out;
}

.search__form button:hover {
	background-color: #ddd;
}

.loader {
	display: none;
	flex-direction: column;
	align-items: center;
}

.loader__bar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 2.5px solid #99b8ff;
	border-top: 2.5px solid #013dc4;
	animation: spin 2s linear infinite;
}

.flex {
	display: flex;
}

.hidden {
	display: none;
}

@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(359deg);}
}

/* result */
.result {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.result .tab {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.result .tab .tab__item{
	font-size: 16px;
	font-weight: 500;
	color: #666;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.result .tab .tab__item:hover{
	color: #333;
}

.result .tab .tab__item--active {
	color: #000;
	font-weight: 700;
}

.result__definitions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.result__definitions .result__definitions__texts h1{
	font-size: 24px;
	font-weight: 500;
}

.result__definitions .result__definitions__texts p{
	font-size: 12px;
	margin-top: 4px;
	color: #666;
}

.result__definitions .result__definitions__audio {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	width: 40px;
	height: 40px;
	border-radius: 8px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.result__definitions .result__definitions__audio:hover {
	background-color: #ddd;
}

.result__meanings {
	padding: 24px;
	background-color: 	#f5f5f5;
	border-radius: 12px;
}

.result__meanings h6 {
	font-size: 12px;
	font-weight: 500;
	color: #666;
}

.result__meanings__example {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 12px;
}

.result__meanings__example p{
	font-size: 14px;
}